<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pic Plume Table</title>
</head>

<body>
    <title>PicplumeMaths</title>
    <div class="plateauJeu">
        <img 
            [@dalleTodalle]="dalleTrouveJoueur1" 
            class="eleve1" 
            src="..\assets\Eleve1.png" alt="">
        <img 
            [@dalleTodalle]="dalleTrouveJoueur2" 
            class="eleve1" 
            src="..\assets\Eleve1.png" alt="">
        <div class="ligneMultiplicationhaut">
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication1}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication2}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication3}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication4}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication5}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication6}}</div>
        </div>
        <div class="ligneCentrale">
            <div class="colonneMultiplication">
                <div class="dalleMultiplication TexteCentre">{{Multiplication7}}</div>
                <div class="dalleMultiplication TexteCentre">{{Multiplication8}}</div>
                <div class="dalleMultiplication TexteCentre">{{Multiplication9}}</div>
            </div>
            <div class="plateauResultat">
                <!-- <app-resultat Resultat="{{Resultat1}}">

                </app-resultat> --> 
                
                <div *ngFor="let resultat of Resultats" (click)="clicDalle(resultat)" class="dalleResultat TexteCentre">
                    {{resultat.value}}
                    <img [hidden]="!resultat.visible" class="imageResultat" src="..\assets\DalleMultiplication.jpg" alt="">
                </div>
            </div>
            <div class="colonneMultiplication">
                <div class="dalleMultiplication TexteCentre">{{Multiplication9}}</div>
                <div class="dalleMultiplication TexteCentre">{{Multiplication8}}</div>
                <div class="dalleMultiplication TexteCentre">{{Multiplication7}}</div>
            </div>
        </div>
        <div class="ligneMultiplicationhaut">
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication6}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication5}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication4}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication3}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication2}}</div>
            <div class="dalleMultiplicationHautBas TexteCentre">{{Multiplication1}}</div>
        </div>
    </div>
</body>

</html>