.plateauJeu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 90%;
    margin: 2%;
    border-width: thick;
    border-style: solid;
    position: relative;
}

.tour {
    font-size: 30px;
}

.joueur1 {
    position: absolute;
    width: 8%;
    height: 12%;
    top: 5%;
    left: 5%;
}

.joueur2 {
    position: absolute;
    width: 8%;
    height: 12%;
    top: 85%;
    left: 88%;
}

.plateauJeu .eleve2 {
    position: absolute;
    width: 8%;
    height: 12%;
    top: 25%;
    left: 5%;
}

.ligneMultiplicationhaut {
    display: flex;
    height: 20%;
}

.ligneCentrale {
    display: flex;
    height: 60%;
}

.colonneMultiplication {
    display: flex;
    flex-direction: column;
    width: 17%;
}

.plateauResultat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-width: 0, 5em;
    width: 66%;
    border-style: solid;
}

.dalleMultiplication {
    margin: 10px;
    border-width: 0, 5em;
    border-style: solid;
    height: 30%;
}

.dalleMultiplicationHautBas {
    margin: 10px;
    border-width: 0, 5em;
    border-style: solid;
    width: 16%;
}

.dalleResultat {
    margin: 1px;
    border-width: 0, 5em;
    border-style: solid;
    width: 25%;
    height: 25%;
    font-family: "Lucida Console", "Courier New", monospace;
    position: relative;
}

.TexteCentre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.imageResultat {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}