<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pic Plumes Table</title>
</head>

<body>
    <title>PicplumeMaths</title>

    <div class="tour">Tour du JOUEUR : {{numeroJoueur}}</div> 
    <div class="plateauJeu">
        <img 
            [@dalleTodalle]="dalleTrouveJoueur1" 
            class="joueur1" 
            src="assets\Joueur 1.png" alt="Pion du joueur 1">
        <img 
            [@dalleTodalle]="dalleTrouveJoueur2" 
            class="joueur2" 
            src="assets\Joueur 2.png" alt="Pion du joueur 2">
        <div class="ligneMultiplicationhaut">
            <div *ngFor="let multiplication of LigneMultiplicationHaut" class="dalleMultiplicationHautBas TexteCentre">{{multiplication.litteral}}</div>
        </div>
        <div class="ligneCentrale">
            <div class="colonneMultiplication">
                <div *ngFor="let multiplication of LigneMultiplicationGauche" class="dalleMultiplication TexteCentre" script="">{{multiplication.litteral}}</div>
            </div>
            <div class="plateauResultat">
                <!-- <app-resultat Resultat="{{Resultat1}}">

                </app-resultat> --> 
                
                <div *ngFor="let resultat of Resultats" (click)="clicDalle(resultat)" class="dalleResultat TexteCentre">
                    {{resultat.value}}
                    <img [hidden]="!resultat.visible" class="imageResultat" src="assets\DalleMultiplication.jpg" alt="">
                </div>
            </div>
            <div class="colonneMultiplication">
                <div *ngFor="let multiplication of LigneMultiplicationDroite" class="dalleMultiplication TexteCentre">{{multiplication.litteral}}</div>
            </div>
        </div>
        <div class="ligneMultiplicationhaut">
            <div *ngFor="let multiplication of LigneMultiplicationBas" class="dalleMultiplicationHautBas TexteCentre">{{multiplication.litteral}}</div>
        </div>
    </div>
</body>

</html>